.header-title {
    padding-top:15px;
}

.k-grid tbody .k-button {
        min-width: 45px !important;
        width: 45px;
    }

.k-grid td {
    padding:5px;
}

.for-Toolbar button.toolBtn {
    margin:0 5px 5px 5px;
}

.border-box {
    box-sizing:border-box !important;
}

.align-right {
    text-align:right;
}

/*Right-slidePanel*/
.right_col {
    overflow: hidden;
}

.for-Toolbar {
    position:relative;
}

.right-slidePanel{
    position:absolute;
    top:5px;
    right:-300px;
    z-index:1000;
}

.right-slidePanel .slidePanel-Content{
    background-color:rgba(100, 100, 100, 0.8);
    width:280px; 
    position:relative;

}

.right-slidePanel .slidePanel-btn{
    height:35px;
    width:35px;
    position:absolute;
    top:0;
    left:-60px;
    background-color:#fff;
    border:1px solid #dbdbdb;
    font-size:21px;
    padding-left:6px;
    color:#898989;
    cursor:pointer;
}

.right-slidePanel .slidePanel-btn:hover{
    background-color:#00B0FF;
    color:#fff;
}

.right-slidePanel .slidePanel-Content-fields {
    padding:10px;
    min-height:150px;
    overflow-y: auto;

}

.right-slidePanel .slidePanel-Content-fields .data-period .k-datepicker{
    margin-bottom:3px;
}

.right-slidePanel .slidePanel-Content-fields .btns{
    margin-top:20px;
}

.right-slidePanel .slidePanel-Content-fields h4 {
    margin:0 0 10px 0;
    color:#fff;
    font-size:16px;
    text-align:center;
    border-bottom:1px solid #fff;
    padding-bottom:3px;
}

.right-slidePanel .slidePanel-Content-fields label{
    color:#fff;
}

.right-slidePanel input,
.create-item input,
.create-item .input-item {
    width: 100%;
}

/*Comment*/