.header-title {
    padding-top:15px;
}

.k-grid tbody .k-button {
        min-width: 45px !important;
        width: 45px;
    }

/*Right-slidePanel*/
.right_col {
    overflow: hidden;
}

.for-Toolbar {
    position:relative;
}

.right-slidePanel{
    position:absolute;
    top:5px;
    right:-300px;
    z-index:1000;
}

.right-slidePanel .slidePanel-Content{
    background-color:rgba(100, 100, 100, 0.8);
    width:280px; 
    position:relative;

}

.right-slidePanel .slidePanel-btn{
    height:30px;
    width:30px;
    position:absolute;
    top:0;
    left:-55px;
    background-color:#fff;
    border:1px solid #dbdbdb;
    font-size:18px;
    padding:3px 0 0 4px;
    color:#898989;
    cursor:pointer;
}

.right-slidePanel .slidePanel-btn:hover{
    background-color:#10C4B2;
    color:#fff;
}

.right-slidePanel .slidePanel-Content-fields {
    padding:10px;
    min-height:150px;
    overflow-y: auto;

}

.right-slidePanel .slidePanel-Content-fields .data-period .k-datepicker{
    margin-bottom:3px;
}

.right-slidePanel .slidePanel-Content-fields .btns{
    margin-top:20px;
}

.right-slidePanel .slidePanel-Content-fields h4 {
    margin:0 0 10px 0;
    color:#fff;
    font-size:16px;
    text-align:center;
    border-bottom:1px solid #fff;
    padding-bottom:3px;
}

.right-slidePanel .slidePanel-Content-fields label{
    color:#fff;
}
