@model ZoipSwitch.Models.order_status

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>order_status</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.order_status_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_status_text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.order_status_flags }) |
    @Html.ActionLink("Back to List", "Index")
</p>
