@model ZoipSwitch.Models.case_statuses

@{
    Layout = null;
}

<div>
    <table class="table table-striped details">
        <tr>
            <td class="col-xs-6">@Html.DisplayNameFor(model => model.case_status_name)</td>
            <td class="col-xs-6">@Html.DisplayFor(model => model.case_status_name)</td>
        </tr>
    </table>
</div>

